includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 1
    paths:
        - Command
        - DataCollector
        - DependencyInjection
        - Event
        - MemoryChecker
        - Provider
        - RabbitMq
        - Resources
        - Tests
        - OldSoundRabbitMqBundle.php