common:
	php:
		date.timezone: Europe/Prague

	extensions:
		console: Kdyby\Console\DI\ConsoleExtension

	services:
		cacheStorage:
			class: Nette\Caching\Storages\MemoryStorage

v22 < common:
	nette:
		security:
			frames: null

		session:
			autoStart: false

v23 < common:
	http:
		frames: null

	session:
		autoStart: false
