php:
	date.timezone: Europe/Prague

extensions:
	console: Kdyby\Console\DI\ConsoleExtension

services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage

http:
	frames: null

session:
	autoStart: false
