php:
	date.timezone: Europe/Prague

extensions:
	console: Kdyby\Console\DI\ConsoleExtension

services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage

nette:
	security:
		frames: null

	session:
		autoStart: false
